<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-11-10T06:02:42Z</date>
	<key>WorkspacePath</key>
	<string>/Users/roneil/Project/GUPROJECT_BTree/BTree.xcodeproj</string>
</dict>
</plist>
